<header>
  <div class="header-logo">
    <a routerLink="">
      <h1>Cursos Brito & Associados</h1>
    </a>
  </div>
  <div class="ico-user">
    <a routerLink="/user">
      <i nz-icon nzType="user" nzTheme="outline"></i>
    </a>
  </div>
</header>

<aside>
  <ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-submenu nzOpen nzTitle="Acompanhamento" nzIcon="dashboard">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/welcome">Welcome</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/financial">Financeiro</a>
        </li>
      </ul>
    </li>
    <li nz-submenu nzOpen nzTitle="Cadastros" nzIcon="form">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/course">Cursos</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/student">Alunos</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/class">Turmas</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/teacher">Professores</a>
        </li>
      </ul>
    </li>
  </ul>
</aside>

<main>
  <router-outlet></router-outlet>
</main>

<footer></footer>
