:host {
  display: grid;
  grid-template-columns: 256px auto;
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  grid-area: header;
  background: #022342;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  position: relative;
  width: 300px;
  padding-left: 24px;
  transition: all 0.3s;
}
.header-logo h1 {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}

.ico-user{
  position: relative;
  transition: all 0.3s;
  padding-right: 24px;
}
.ico-user i{
  display: inline-block;
  color: #fff;
  font-size: 25px;
}

aside {
  grid-area: aside;
  width: 256px;
  background: rgb(0, 15, 22);
  display: block;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

main {
  background: #fff;
  grid-area: main;
  margin: 24px;
  padding: 24px;
  overflow: auto;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

footer {
  background: #042b4e;
  grid-area: footer;
  display: block;
  box-shadow: 1px 1px 4px rgba(0, 21, 41, 0.08);
}

@media  (max-width: 550px){
  :host{
    grid-template-columns: auto;
    grid-template-rows: 8vh 82vh 10vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
  }

  aside{
    display: none;
  }
  .header-logo h1 {
    font-size: 15px;
  }
  .ico-user i{
    font-size: 20px;
  }
  footer{
    display: none;
  }
  nav{
    background: #042b4e;
    grid-area: footer;
    display: block;
    box-shadow: 1px 1px 4px rgba(0, 21, 41, 0.08);
  }
}
