<aside>
  <ul nz-menu nzTheme="dark" nzMode="inline">

    <li nz-menu-item nzMatchRouter>
      <a routerLink="/welcome">
        <i nz-icon nzType="home" nzTheme="fill"></i>
        <span>Welcome</span>
      </a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/financial">
        <i nz-icon nzType="dollar-circle" nzTheme="fill"></i>
        <span>Financeiro</span>
      </a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/course">
        <i nz-icon nzType="table" nzTheme="outline"></i>
        <span>Cursos</span>
      </a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/student">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        <span>Alunos</span>
      </a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/class">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <span>Turmas</span>
      </a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/teacher">
        <i nz-icon nzType="solution" nzTheme="outline"></i>
        <span>Professores</span>
      </a>
    </li>
  </ul>
</aside>
<nav>
  <ul>
    <li>
      <a routerLink="/welcome">
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <span>Welcome</span>
      </a>
    </li>
    <li>
      <a routerLink="/financial">
        <i nz-icon nzType="dollar" nzTheme="outline"></i>
        <span>Financeiro</span>
      </a>
    </li>
    <li><a routerLink="/course">
        <i nz-icon nzType="table" nzTheme="outline"></i>
        <span>Cursos</span>
      </a>
    </li>
    <li>
      <a routerLink="/student">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        <span>Alunos</span>
      </a>
    </li>
    <li>
      <a routerLink="/class">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <span>Turmas</span>
      </a>
    </li>
    <li>
      <a routerLink="/teacher">
        <i nz-icon nzType="solution" nzTheme="outline"></i>
        <span>Profes.</span>
      </a>
    </li>
  </ul>
</nav>
